@{
	ViewBag.Title = "Index";
}
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <link rel="Stylesheet" href="/Content/Site.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script type="text/javascript">
		var ABNY =
		{
			version: 1.00,
			getVersion: function () { return this.version; },
			mobile:
			{
				goto: function (place) { location.href = (place); }
			}
		};
	</script>

<h2>ABNY Mobile</h2>

<ul>
	<li>  <button onclick="javascript:ABNY.mobile.goto('MEvents');">Events</button>  </li>
	<li> <button onclick="javascript:ABNY.mobile.goto('MMembers');">Members</button> </li>
	<li> <button onclick="javascript:ABNY.mobile.goto('MPeople');">People</button> </li>
</ul>

