@{
    ViewBag.Title = "ABNY Mobile";
}

<h2>ABNY Mobile</h2>

<ul>
    <li>@Html.ActionLink("Events", "Index", "Events")</li>
    <li>@Html.ActionLink("Members", "Index", "Members")</li>
    <li>@Html.ActionLink("People", "Index", "People")</li>
</ul>